# LaTeX files and figures
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.png
*.eps
*.pdf

# emacs temporaries
*~
\#*

# Executables
Castro*.ex

# plt and chk files
*plt*
*chk*

# These files are created at build time
extern.f90
network.f90
helm_table.dat
wdmerger_diag.out
buildInfo.cpp
castro_makefile

# Python objects
*.pyc

# build directories
o/
d/
f/
